# Binaries for programs and plugins
*.so
*.dylib

.DS_Store
photos-uploader
test
.photos-uploader.journal
secrets
offline_doc

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

